.projects {
    height: 964px;
    position: relative;
    width: 1312px;
    margin: 72px auto;
}

.projects .article-archive-item {
    align-items: flex-start;
    background-color: #e8eefd;
    border-radius: 32px;
    display: flex;
    height: 664px;
    justify-content: space-between;
    left: calc(50.00% - 474px);
    overflow: hidden;
    padding: 32px;
    position: absolute;
    top: 0;
    width: 948px;
}

.projects .article-content {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    position: relative;
}

.projects .article-text {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 32px;
    position: relative;
    width: 100%;
}

.projects .div {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    position: relative;
    width: 100%;
}

.projects .article-title {
    align-items: center;
    color: #000000;
    display: flex;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.projects .article-description {
    align-items: center;
    align-self: stretch;
    color: #000000;
    display: flex;
    font-family: "Inter-Medium", Helvetica;
    font-size: 40px;
    font-weight: 500;
    justify-content: center;
    letter-spacing: -2.00px;
    line-height: 48px;
    position: relative;
}

.projects .article-summary {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    position: relative;
    width: 100%;
}

.projects .text-wrapper {
    align-items: center;
    align-self: stretch;
    color: #00000099;
    display: flex;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    justify-content: center;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1.00px;
    position: relative;
}

.projects .stats-row {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    position: relative;
}

.projects .stat-item {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
    width: 186px;
}

.projects .stat-value {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-right: -30.00px;
    position: relative;
    width: 216px;
}

.projects .stat-value-2 {
    align-items: center;
    color: #000000;
    display: flex;
    font-family: "Inter-Medium", Helvetica;
    font-size: 32px;
    font-weight: 500;
    justify-content: center;
    letter-spacing: -2.00px;
    line-height: 40px;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.projects .stat-label {
    align-items: center;
    color: #00000099;
    display: flex;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    justify-content: center;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.projects .image {
    align-self: stretch;
    background-image: url("/assets/newversion/case-studies/image.webp");
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 20px;
    position: relative;
    width: 441px;
}

.projects .button {
    all: unset;
    align-items: center;
    background-color: #ffffff;
    border-radius: 40px;
    bottom: 24px;
    box-sizing: border-box;
    display: inline-flex;
    gap: 4px;
    left: calc(50.00% - 18px);
    overflow: hidden;
    padding: 12px 20px;
    position: absolute;
}

.projects .ellipse {
    background-color: #447aee;
    border-radius: 94.5px;
    height: 189px;
    left: -189px;
    position: absolute;
    top: calc(50.00% - 94px);
    width: 189px;
}

.projects .become-a-client {
    color: #26292a;
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.projects .article-archive-item-2 {
    align-items: flex-start;
    background-color: #d0defb;
    border-radius: 32px;
    display: flex;
    height: 604px;
    justify-content: space-between;
    left: 110px;
    overflow: hidden;
    padding: 32px;
    position: absolute;
    top: 60px;
    width: 1092px;
}

.projects .article-content-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 580px;
}

.projects .p {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    align-items: center;
    align-self: stretch;
    color: #000000;
    display: -webkit-box;
    font-family: "Inter-Medium", Helvetica;
    font-size: 40px;
    font-weight: 500;
    justify-content: center;
    letter-spacing: -2.00px;
    line-height: 48px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
}

.projects .article-summary-2 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    align-items: center;
    align-self: stretch;
    color: #00000099;
    display: -webkit-box;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    justify-content: center;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1.00px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
}

.projects .article-stats {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 32px;
    position: relative;
}

.projects .stats-row-2 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 28px;
    position: relative;
}

.projects .stat-item-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 172px;
}

.projects .stat-value-3 {
    align-items: center;
    align-self: stretch;
    color: #000000;
    display: flex;
    font-family: "Inter-Medium", Helvetica;
    font-size: 32px;
    font-weight: 500;
    justify-content: center;
    letter-spacing: -2.00px;
    line-height: 40px;
    margin-top: -1.00px;
    position: relative;
}

.projects .stat-label-2 {
    align-items: center;
    align-self: stretch;
    color: #00000099;
    display: flex;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    justify-content: center;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
}

.projects .button-2 {
    align-items: center;
    background-color: #000000;
    border-radius: 40px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    overflow: hidden;
    padding: 12px 20px;
    position: relative;
}

.projects .become-a-client-2 {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.projects .arrow-right {
    height: 20px !important;
    position: relative !important;
    width: 20px !important;
}

.projects .button-wrapper {
    align-self: stretch;
    background-image: url("/assets/newversion/case-studies/image-1.webp");
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 20px;
    position: relative;
    width: 441px;
}

.projects .article-archive-item-3 {
    align-items: flex-start;
    background-color: #a2bcf6;
    border-radius: 32px;
    display: flex;
    height: 604px;
    justify-content: space-between;
    left: calc(50.00% - 606px);
    overflow: hidden;
    padding: 32px;
    position: absolute;
    top: 120px;
    width: 1212px;
}

.projects .div-wrapper {
    align-self: stretch;
    background-image: url("/assets/newversion/case-studies/image-2.webp");
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 24px;
    position: relative;
    width: 501px;
}

.projects .button-3 {
    all: unset;
    align-items: center;
    background-color: #ffffff;
    border-radius: 40px;
    bottom: 24px;
    box-sizing: border-box;
    display: inline-flex;
    gap: 4px;
    left: calc(50.00% + 29px);
    overflow: hidden;
    padding: 12px 20px;
    position: absolute;
}

.projects .article-archive-item-4 {
    align-items: flex-start;
    background-color: #e8eefd;
    border-radius: 40px;
    display: flex;
    height: 664px;
    justify-content: space-between;
    left: calc(50.00% - 474px);
    overflow: hidden;
    padding: 32px;
    position: absolute;
    top: 300px;
    width: 948px;
}

.projects .article-content-3 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0px 24px;
    position: relative;
}

.projects .article-title-2 {
    align-items: center;
    color: #000000;
    display: flex;
    font-family: "Inter-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    justify-content: center;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.projects .image-2 {
    align-self: stretch;
    background-image: url("/assets/newversion/case-studies/image-3.webp");
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 20px;
    position: relative;
    width: 441px;
}

.projects .article-archive-item-5 {
    align-items: flex-start;
    background-color: #d0defb;
    border-radius: 40px;
    display: flex;
    height: 604px;
    justify-content: space-between;
    left: calc(50.00% - 546px);
    overflow: hidden;
    padding: 32px;
    position: absolute;
    top: 300px;
    width: 1092px;
}

.projects .image-3 {
    align-self: stretch;
    background-image: url("/assets/newversion/case-studies/image-4.webp");
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 20px;
    position: relative;
    width: 441px;
}

.projects .article-archive-item-6 {
    align-items: flex-start;
    background-color: #a2bcf6;
    border-radius: 40px;
    display: flex;
    height: 604px;
    justify-content: space-between;
    left: 50px;
    overflow: hidden;
    padding: 32px;
    position: absolute;
    top: 240px;
    width: 1212px;
}

.projects .article-content-4 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 24px;
    position: relative;
    width: 580px;
}

.projects .stat-item-3 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 172px;
}

.projects .image-4 {
    align-self: stretch;
    background-image: url("/assets/newversion/case-studies/image-5.webp");
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 24px;
    position: relative;
    width: 501px;
}

.projects .article-archive-item-7 {
    align-items: center;
    background-color: #739bf2;
    border-radius: 32px;
    display: flex;
    gap: 80px;
    height: 604px;
    left: 0;
    overflow: hidden;
    padding: 32px;
    position: absolute;
    top: 180px;
    width: 1312px;
}

.projects .article-summary-3 {
    align-items: center;
    align-self: stretch;
    color: #000000cc;
    display: flex;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    justify-content: center;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1.00px;
    position: relative;
}

.projects .stats-row-3 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 48px;
    position: relative;
}

.projects .stat-value-wrapper {
    align-items: center;
    display: flex;
    gap: 8px;
    position: relative;
    width: 186px;
}

.projects .stat-value-4 {
    align-items: center;
    color: #000000;
    display: flex;
    font-family: "Inter-Medium", Helvetica;
    font-size: 64px;
    font-weight: 500;
    justify-content: center;
    letter-spacing: -2.00px;
    line-height: 80px;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.projects .stat-label-3 {
    align-items: center;
    color: #000000;
    display: flex;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    justify-content: center;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.projects .button-4 {
    align-items: center;
    background-color: #000000;
    border-radius: 40px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    overflow: hidden;
    padding: 16px 24px;
    position: relative;
}

.projects .image-5 {
    align-self: stretch;
    background-image: url("/assets/newversion/case-studies/image-5.webp");
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 24px;
    flex: 1;
    flex-grow: 1;
    position: relative;
}