:root {
  --base-1: #2c1c32;
  --base-2: #835623;
  --base-3: #2a44c5;
  --base-4: #631f74;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.intro,
.outro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-cards {
  background-color: antiquewhite;
  perspective: 850px;
  /* perspective: 1200px; */
}

.sticky-cards .card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2.5rem;
  border-radius: 1rem;
  color: #fff;
  transform-origin: center center;
  will-change: transform;
}

.card .col {
  flex: 1;
  height: 100%;
}

.card .col:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}

.card .col:nth-child(2) {
  border-radius: 0.75rem;
  overflow: hidden;
}

.card#card-1 {
  background-color: var(--base-1);
  /* z-index: 5; */
  z-index: 2;
}

.card#card-2 {
  background-color: var(--base-2);
  /* z-index: 4; */
  z-index: 3;
}

.card#card-3 {
  background-color: var(--base-3);
  /* z-index: 3; */
  z-index: 5;
}

.card#card-4 {
  background-color: var(--base-4);
  /* z-index: 2; */
  z-index: 2;
}

.card#card-5 {
  background-color: var(--base-3);
  /* z-index: 1; */
  z-index: 1;
}

@media (max-width: 1000px) {
  .sticky-cards .card {
    width: calc(100% - 4rem);
    height: 75%;
    flex-direction: column;
  }

  .card .col {
    width: 100%;
  }
}
