@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

/* Add this to your global CSS or App.css */
/* Add this to your global CSS or App.css */
/* App.css or global CSS file */
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

* {
  box-sizing: border-box;
}